* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  font-family: 'Overpass', sans-serif;
  background-color: rgb(18, 20, 23);
  color: rgb(255, 255, 255);
  line-height: 1.5rem;
}

/* article {
  margin: 7rem auto;
} */

section#container, div#feed {
  width: 29.32vw;
  margin: 7rem auto;
  padding: 2rem;
  background-color: rgb(28, 38, 48);
  border-radius: 1.3rem;
}

section#rate p, section form button, div section#remark p {
  color: rgb(124, 135, 152);
  font-size: 0.9375rem;
}

section#rate h1 {
  font-size: 1.75rem;
  margin-bottom: 0rem;
}

section#star, section form button {
  width: 2.4rem;
  background-color: rgb(37, 50, 58);
  border-radius: 50%;
  padding: 0.47rem;
  text-align: center;
}

section form {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 0.9rem 0.5rem;
  justify-content: space-between;
  /* margin-right: 4rem; */
  border: 0.1rem solid red;
}

section form > button {
  width: auto;
  border: none;
  /* margin: 1rem;
  margin-left: auto;
  margin-top: auto; */
  padding: 1.1rem;
}

section form button:hover {
  background-color: rgb(252, 117, 21);
  color: rgb(255, 255, 255);
}

section form button:active {
  background-color: rgb(149, 158, 172);
}

section form > input {
  width: 100%;
  /* display: grid; */
  background-color: rgb(252, 117, 21);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-variant: small-caps;
  padding: 0.67rem;
}

section form input:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(252, 117, 21);
}


/******* Thank You Rate *******/

div#feed {
  text-align: center;
}