* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  font-family: 'Overpass', sans-serif;
  background-color: rgb(18, 20, 23);
  color: rgb(255, 255, 255);
  line-height: 1.5rem;
}

section#container, div#feed {
  width: 30.27vw;
  margin: 6.83rem auto;
  padding: 2rem;
  background-color: rgb(28, 38, 48);
  border-radius: 1.9rem;
}

section#rate p, section form button, div section#remark p {
  color: rgb(124, 135, 152);
  font-size: 0.9375rem;
}

section#rate h1, section#remark h1 {
  font-size: 1.75rem;
  margin-bottom: 0rem;
}

section#star, section form div#num button {
  width: 3.15rem;
  background-color: rgb(37, 50, 58);
  border-radius: 50%;
  padding: 0.78rem;
  font-size: 2rem;
  text-align: center;
}

section form div#num {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 0.4rem;
  justify-content: space-between;
  margin-bottom: 1.9rem;
  margin-top: 1.6rem;
}

section form div#num button {
  border: none;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.9rem;
}

section form div#num button:hover {
  background-color: rgb(250, 107, 4);
  color: rgb(255, 255, 255);
}

section form div#num button:active {
  background-color: rgb(149, 158, 172);
}

section form input {
  width: 100%;
  background-color: rgb(250, 107, 4);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 1.5rem;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.9rem;
}

section form input:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(250, 107, 4);
}


/******* Thank You Rate *******/

div#feed {
  text-align: center;
}

section#pic p {
  width: 12rem;
  background-color: rgb(37, 50, 58);
  color: rgb(199, 120, 64);
  border-radius: 1rem;
  margin: 1.4rem auto;
  padding: 0.3rem;
  font-size: 0.9375rem;
  text-align: center;
}